*

!*/
!/upload/admin/controller/**/pagseguro*
!/upload/admin/model/extension/**/pagseguro*
!/upload/admin/language/en-gb/extension/payment/pagseguro*
!/upload/admin/language/en-gb/extension/total/pagseguro*
!/upload/admin/view/image/payment/pagseguro*
!/upload/admin/view/template/sale/order_pagseguro.twig

!/upload/catalog/controller/extension/payment/pagseguro*
!/upload/catalog/controller/event/**/pagseguro*
!/upload/catalog/model/extension/payment/pagseguro*
!/upload/catalog/controller/extension/total/pagseguro*
!/upload/catalog/model/extension/total/pagseguro*
!/upload/catalog/language/en-gb/extension/payment/pagseguro*
!/upload/catalog/language/en-gb/extension/total/pagseguro*
!/upload/catalog/view/**/payment/pagseguro*

!/upload/system/library/PagSeguro.php
!/upload/system/library/PagSeguro/**

!/.github/**
!/.editorconfig
!/install.xml
!/main.js
!/ad.json
!/src/**
!/package.json
!/.gitignore
!/.gitattributes
!/.gitmessage
!/README.md
!/CHANGELOG.md

/upload/system/library/PagSeguro/phpcs.phar
/upload/system/library/PagSeguro/vendor
/upload/system/library/PagSeguro/*.cache
/upload/system/library/PagSeguro/log
/node_modules
/src/.vuepress/dist
/upload/system/library/PagSeguro/tests
